:root{
    --main-color:rgb(157 85 217);
    --text-color:#777;
    --bg-color:#e7f7f6;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
 --font-size-sm: ;
 --font-size-md: ;
 --font-size-lg: ;

}
 *{
    box-sizing: border-box;
    margin:0 ;
    padding: 0;
    outline: none;
 }
 body{
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    min-height: 100vh;
 }
  img {
    max-width: 100%;
    vertical-align: middle;
  }

  ul li{
list-style: none;
  }
  a{
    text-decoration: none;
  }
  button {
    background: none;
    border: none;
  }

 span{
  border: 12px solid rgb(157 85 217);
  width: 110px;
  height: 110px;
  position: absolute;
  left: 175px;
  top: -78px;
}


.circle{
  position: relative;
}
.collapse button{
  background-color: var(--main-color);
  color: var(--bg-color);
}
